extends ../layouts/default.pug

block main
  h1 #{pageTitle}
  p This is the tour lists page.
  
  h2 Available Tours
  ul
    li Tour du lịch Hà Nội - Hạ Long
    li Tour du lịch Sài Gòn - Vũng Tàu
    li Tour du lịch Đà Nẵng - Hội An
    li Tour du lịch Nha Trang
